<h1>Listing services</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => @services%>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
