<tr>
	<td><%= caixa.name %></td>
    <td><%= link_to 'Show', caixa %></td>
    <td><%= link_to 'Edit', edit_caixa_path(caixa) %></td>
    <td><%= link_to 'Destroy', caixa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
