<h1>Listing cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => @cities %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
