<h1>Listing accounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => @accounts %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
